<h1>People who are getting after it!</h1>

<table border="1">
  <tr>
    <th>
      ID
    </th>
    <th>
      Name
    </th>

    <th>
      Number of Goals
    </th>

    <th>
      Number Completed
    </th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.id %>
    </td>
    <td>
      <%= user.name %>
    </td>

    <td>
      <%= Goal.where({ :user_id => user.id}).count  %>
    </td>

    <td>
      <%= Goal.where({ :user_id => user.id, status: 1 }).count  %>
    </td>
  </tr>
  
  <% end %>
</table>

<br>
<a href="/goals">
  Back to the goals
</a>