<h1>Add a Goal</h1>


<form action="/insert_goal">
  <table>
    <tr>
      <td>
        <label for="browser_description">What is your goal?</label>
      </td>
      <td>
        <input id="browser_description" type="text" name="input_goal" placeholder="Enter your goal here">
      </td>
    </tr>
    <tr>
      <td>
        <label for="browser_target">How many times do you want to do it?</label>
      </td>
      <td>
        <input id="browser_target" type="number" name="input_target" >
      </td>
    </tr>
    <tr>
      <td>
        <label for="browser_completed">How many times have you done it so far?</label>
      </td>
      <td>
        <input id="browser_completed" type="number" name="input_completed" >
      </td>
    </tr>
    <tr>
      <td>
        <label for="browser_due_date">When will you do it by?</label>
      </td>
      <td>
        <input id="browser_due_date" type="date" name="input_date" placeholder="mm/dd/yyyy">
      </td>
    </tr>     
    <tr>
      <td>
        <label for="browser_public">Make this goal public:</label>
      </td>
      <td>
        <input name="input_public" type="hidden" value=0 />
        <input type="checkbox" id="browser_public" name="input_public" value=1 />
      </td>
    </tr>
  </table>
  <br>
  <button>Create Goal!</button>

</form>








